<div class="about-me-container">
    <div class="about-me-content">
        <p>My name is Tou! Pronounced just like the number two. </p>
        <p>I'm a Software Engineer currently living in the Twin Cities metro area in Minnesota and yes... we get both ends
            of the stick here. Although it is extremely short, Minnesota gets pretty hot in the summer months. Like-wise, it
            gets really really cold in the winter. </p>
        <p>Even with the extremes of climate, you get used to it at some point. I know this because I grew up here, went to
            school here, and obviously, I'm also working here. I ask myself the same question every year when the
            thermometer reads -30 degrees Fahrenheight... "Why the hell do I live here?"</p>
        <p>I attended college at Saint Cloud State University in Saint Cloud, Minnesota. I graduated in 2011 with a bachelor
            in Computer Science.</p>
        <p>I current work full time as a Software Engineer at Renaissance Learning Inc building software for our future
            generation.</p>
    </div>
</div>