<div class="about-me-container">
    <div class="about-me-content">
        <p>My name is Tou! Pronounced just like the number two. </p>
        <p>I'm a Software Engineer currently living in the Twin Cities metro area in Minnesota.</p>
        <p>I graduated in 2011 from Saint Cloud State University in Saint Cloud, Minnesota with a bachelors in Computer
            Science.</p>
        <p>I currently work full time as a Software Engineer at Renaissance Learning Inc building software for our future
            generation.</p>
        <p>The array of technologies that we use at Renaissance is what keeps my job interesting. I can be deep in the
            backend looking at data in Mongo or staring at CSS on the frontend. I also enjoy working with all the cool
            shiny AWS technology.
        </p>
        <p>Working on my strengths is the key to my continuous learning. Learning by teaching others is the most
            effective way for me to validate and reason through problems. That is, I learn best when I am a teacher. I
            work well with others and can't imagine building software any other way.
        </p>
        <p>Writing clean code that is extensible, readable, composed rather than enherited, and testable is always my
            goal.
        </p>
        <p>Hearing the positive feedbacks from teachers and other end users always put a smile on my face. The feedback
            always gives me the extra
            boost to do better and remind me what the mission of my work really means.</p>

        <p>Outside of work, I enjoy the automotive sport scene as well as overlanding (look up "overlanding" on youtube
            if you don't know what that is). I would say that my hobbies are a bit different from the typical Software
            Engineer in the aspect that it is a different type of "nerdy". Cars is a "nerdy" thing too, but it's not the
            same kind of "nerdy" as video games or D&D.</p>
    </div>
</div>