.tab-container {
    display: flex;
    justify-content: center;
    
}

.tab-group-container {
    display: flex;
    align-items: center;
    justify-items: center;
}

.tab-content {
    display: flex;
    justify-content: center;
}

.link-container {
    display:flex;
    justify-content:center;
}

.link-logo {
    width: 100px;
    height: auto;
}

.link-logo-frame {
    cursor: pointer;
    width:200px;
}
