
<div class="tab-container">
  <mat-tab-group>
    <mat-tab label="About Me">
      <app-about-me class="tab-content"></app-about-me>
    </mat-tab>
    <mat-tab label="Resume">
      <app-resume class="tab-content"></app-resume>
    </mat-tab>
  </mat-tab-group>
</div>
<hr>
<div class="link-container">
  <div (click)='GotoLink("https://www.linkedin.com/in/tou-yang-8a88a059/")' class="link-logo-frame">
    <img src="/assets/LI-In-Bug.png" class="link-logo" />  
  </div>
  <div (click)='GotoLink("https://github.com/yato0501")' class="link-logo-frame">
    <img src="/assets/GitHub_Logo.png" class="link-logo" />
  </div>
  <div (click)='GotoLink("https://www.youtube.com/channel/UCZ3T7cPf1Yv1SutZFMpNYQA")' class="link-logo-frame">
    <img src="/assets/yt_logo_rgb_light.png" class="link-logo" />
  </div>
</div>