.tab-container {
    display: flex;
    justify-content: center;
    
}

.tab-group-container {
    display: flex;
    align-items: center;
    justify-items: center;
}

.tab-content {
    display: flex;
    justify-content: center;
}


