<div class="resume-container">
    <div class="resume-content">
        <div>
            <h1>Tech Stack Experience</h1>
            Front-End: Javascript/AngularJS/Angular
            <br>
            Middle-Tier: C#/WebAPI/MVC
            <br>
            Back-End: SQL/MongoDB
        </div>
        <div>
            
            <h1>Experience</h1>
            <h2>Software Engineer, Renaissance Learning</h2>
            <div class="experience-location-duration">
                <h3>Minneapolis, MN</h3>
                <h3>Mar 2014—Present</h3>
            </div>

            <ul>
                <li>
                    Develop .NET MVC applications and RESTful web APIs with C#
                </li>
                <li>
                    Query and persist Mongo records for application needs
                </li>
                <li>
                    Mentor Junior Engineers and Interns
                </li>
                <li>
                    Build Angular 2+ components using NGRX to handle the demanding modern web space
                </li>
                <li>
                    Practice Agile to drive work to complete and follow through to production
                </li>
                <li>
                    Solve complex problems utilizing design patterns and best practices
                </li>
                <li>
                    Support production releases to AWS cloud
                </li>
                <li>
                    Carefully review and critique Pull Requests from immediate and external teams
                </li>
                <li>
                    Manually test completed stories to ensure a quality product will be released
                </li>
                <li>
                    Collaborate with PMs, POs, QAs, Engineers, and Architects to define work and identify gaps
                </li>
                <li>
                    Peer programming with colleagues to transfer knowledge and share ideas
                </li>
                <li>
                    Write elegant and clean code that can be unit tested
                </li>
                <li>
                    Ping Pong Champ!
                </li>
            </ul>
            <h2>Programmer Analyst - EDW, CH Robinson World Wide</h2>
            <div class="experience-location-duration">
                <h3>Eden Prairie, MN</h3>
                <h3>MN Jan 2012—Feb 2014</h3>
            </div>
            <ul>
                <li>
                    Develop enterprise reporting solutions with WebFOCUS, HTML, CSS, Javascript, and Jquery
                </li>
                <li>
                    Find solution for reporting code/data errors
                </li>
                <li>
                    Modify SSIS ETL packages to bring in missing data elements that are crucial for reporting
                </li>
                <li>
                    Develop complex Stored Procedures using T-SQL for reporting
                </li>
            </ul>
            <h2>Associate Programmer Analyst, Hormel Foods Corporation</h2>
            <div class="experience-location-duration">
                <h3>Austin, MN</h3>
                <h3>MN Jun 2011—Jan 2012</h3>
            </div>
            <ul>
                <li>
                    Maintain and implement features for Hormel’s customer maintenance application with ColdFusion
                </li>
                <li>
                    Tested and documented programming tasks
                </li>
                <li>
                    Successfully track data errors and implement solutions to fix the problem
                </li>
                <li>
                    Used Oracle PL-SQL to query data for application consumption
                </li>
            </ul>
        </div>
    </div>
</div>